<!-- home.html -->
<div style="max-width: 680px; margin: 0 auto; padding : 5px 20px 40px; /*background: #FFFFFF;*/">
	<!-- <div class="chapter" ng-repeat="chapter in chapters">
		<div class="head">
			<a href="{{ chapter.href }}"> {{ chapter.title }}</a>
		</div>
		<div class="content row">
			<div class="short col-md-1">2104<br>4月</div>
			<div class="col-md-11">
				<div style="text-align: right; margin-bottom: 15px; font-size: 12px;">Edit | Modeify | More</div>
				<div ng-bind-html="chapter.content"></div>
			</div>
		</div>
	</div> -->

	<div class="chapter" ng-repeat="chapter in chapters">
		<h3 class="head">
			<a href="{{ chapter.href }}"> {{ chapter.title }}</a>
		</h3>
		<div class="post">
			<div style="float: left;">Admin 2014.05.16</div>
			<div style="float: right;">Edit | Modeify | More</div>
			<div style="clear: both;"></div>
		</div>
		<div class="content" ng-bind-html="chapter.content"></div>
	</div>

	<!-- <div style="padding: 10px 0;">
		<div style="float: left;"><a ng-click="prev()">上一页</a></div>
		<div style="float: right;"><a ng-click="next()">下一页</a></div>
		<div style="clear: both;"></div>
	</div> -->

	<!-- <hr> -->
	<!-- FOOTER -->
	<!-- <footer class="text-center">
		View the tutorial on <a href="http://scotch.io/tutorials/angular-routing-and-templating-tutorial">Scotch.io</a>
	</footer> -->
</div>

